#body_bulk{
  background-color: white;
}


.lead{
    margin-right: 20px;

}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#single-page-header{
  background-attachment: fixed !important;
  background-repeat: repeat;
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
}

.overlay{
  background-color: #14213d;
  padding: 90px 0;
  float: left;
  width: 100%;
}

.title-area{
  margin-top: 5%;
  color: #007bba;
}


