.lead{
    margin-left: 20px;

}

h2{
    margin-left: 300px;
    margin-top: 50px;
}

#results0{
    margin-left: 220px;

}

#results1{
    margin-left: 200px;

}

#results2{
    margin-left: 200px;

}

.jumbotron{
    margin-top: 80px;
    background-color: #f1faee;
}











